@font-face{
    src:url("./image/04B_30__.TTF");
    font-family: "mario";
}
*{
    font-family: "mario";
}

th, td {
    padding: 30px;
    background-color: black;
    border: white solid 1px;
  }

.tableau{
    position: relative;
}

.jeu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 200px;
}

.instruction{
    display: flex;
    flex-direction: column; 
    margin-top: 200px;
    gap : 50px;
}

.timer{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body{
    background-image: url("./image/backgroundJeuPlateforme.jpg");
}
